.App {
    margin: 0px;
}

.vbgMainAllItems {
    margin: 0px;
    background-color: black;
    background-image: url(./Pics/biryani-platter-g4a7f6b693_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    height: 100vh;
    justify-content: center;
    align-items: baseline;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    z-index: 1;
}

h1 {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 2;
    color: #ffffff;
}

.vPageTitle {
    position: absolute;
    left: 500px;
    top: 0px;
    z-index: 3;
    color: #ffffff;
}

.vMainHeader {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 0, 0, 0.822);
    display: flex;
    flex-direction: row;
}

.circleImg {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    margin-left: 85%;
    /* position: absolute; */
    left: 10px;
    top: 0px;
    z-index: 2;
}

#cimg {
    height: 50px;
    width: 50px;
    border-radius: 45px;
    margin-left: 10px;
}

#Hi {
    margin-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.vAllItemsNavbar {
    position: absolute;
    left: 0px;
    top: 70px;
    z-index: 2;
    width: 20%;
    height: 617px;
    background-color: rgba(184, 115, 11, 0.671);
    display: flex;
    flex-direction: column;
}

.btn_vMainPage {
    /* margin-left: 15%; */
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    background-color: #ff0000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
}

.btn_vMainPage:hover {
    box-shadow: 0 12px 16px 0 #ff00008a, 0 17px 50px 0 #ff00008a;
    background-color: white;
    /* Green */
    color: #ff0000;
    border-color: #ff0000;
    border: 7px;
}

.vendorAllItemsContent {
    position: absolute;
    left: 300px;
    top: 110px;
    z-index: 2;
    width: 50%;
    height: 500px;
    background-color: rgba(255, 123, 0, 0.404);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.vendorAllItemsContent h2,p{
    color: #dddd;
}

.webContacts{
    padding-left: 10px;
    margin-top: 50%;
}

.webContacts p{
    font-size: 15px;
}