.App{
    margin: 0px;
    /* background-color: #323E40; */
}

.uatbgMain {
    margin: 0px;
    background-color: rgba(152, 152, 152, 0.867); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140vh;
    justify-content: center;
    align-items: baseline;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    z-index: 1;
}

.uMainHeader h1 {
    /* position: absolute; */
    left: 70px;
    margin-top: 12px;
    top: 0px;
    z-index: 2;
    color: #ffffff;
}


.uMainHeader{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 70px;
    background-color:#000000;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 5px 10px black);
}

#ulimg {
  height: 70px;
  width: 70px;
  display: flex;
  /* text-shadow: 10px 10px black; */
}

.ucircleImg{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    margin-left: 80%;
    left: 10px;
    top: 0px;
    z-index: 2;
}

#ucimg {
    height: 50px;
    width: 50px;
    border-radius: 45px;
    margin-left: 10px;
}

#uHi {
    margin-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.uMainNavbar{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 56%;
    height: 70px;
    /* background-color: rgba(184, 115, 11, 0.671); */
    display: flex;
    flex-direction: row;
    left: 340px;

}

.btn_uMainPage {
    /* margin-left: 15%; */
    width: 90%;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    background-color: #ffb000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
  }
  .btn_uMainPage:hover {
    box-shadow: 0 12px 16px 0 #9400008a, 0 17px 50px 0 #8f00008a;
    background-color: white; /* Green */
    color: #ffb000;
    border-color: #ffb000;
    border: 7px;
  }


  #select_Category {
    width: 120px;
    height: 27px;
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    background-color: #ffb000;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    margin-bottom: 10px;

    transition-duration: 0.4s;
  }

  #select_Category:hover{
    background-color: white; /* Green */
    color: #ff0000;
    border-color: #ff0000;
    border: 7px;
  }

  .opt_Category {
    width: 90%;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
  }
  .opt_Category:hover{
    box-shadow: 0 12px 16px 0 #9300008a, 0 17px 50px 0 #7901018a;
    background-color: white;
    color: #ff9800;
    border-color: #ff9800;
    border: 7px;
  }



  .btn_uMainPageL {
    /* margin-left: 15%; */
    width: 90%;
    margin-top: 25px;
    margin-left: 70px;
    text-align: center;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
    border: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    transition-duration: 0.4s;
  }
  .btn_uMainPageL:hover {
    box-shadow: 0 12px 16px 0 #7f00008a, 0 17px 50px 0 #9b00008a;
    background-color: rgb(255, 0, 0); /* Green */
    color: #ffffff;
    border-color: #ff0000;
    border: 0px;
  }

  /* .userMainPageContent {
    background-color:black;
    background-image: url('./Pics/pexels-ella-olsson-1640773.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  } */


  /* .userMainPageContent h7{
    color:#ffffff;
    padding-top: 17%;
    padding-bottom: 0px;
    font-size: 10px;
    margin-bottom: 3px;
    font-size: 22px;
  } */

  .atSearchContainer{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
  }

  #atsearch  {
    margin-top: 50px;
    margin-left: 27%;
    width: 450px;
    height: 35px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#ffffff;
    color: #000000;
    border-color: #323E40;
    border-width: 4px;
    box-shadow: 0 8px 10px 0 #0000008a, 0 10px 30px 0 #0000008a;
    opacity: 50%;

  }

  #atsearch:hover{
    border-color: #ff0000;
    opacity: 100%;
  }

  /* #search:hover{
    border-color: #ff0000;
  } */

  #btn_atsearch {
    width: 5%;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    border: 7px;
    border-radius: 0px 20px 20px 0px ;
    background-color:#323E40;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 10px;
    /* padding-left: 1px;
    padding-right: 1px; */
    transition-duration: 0.4s;
  }

  #btn_atsearch:hover {
    /* box-shadow: 0 12px 16px 0 #323E40, 0 17px 50px 0 #323E40; */
    background-color: #516b70; /* Green */
    color: #ffffff;
    border-color: #ffffff;
    border: 0px;
  }


  .AITRH {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dddd;
  }
  .AITRH h2{
    color: #323E40;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding-left: 45%; */
  }
  .User-Card-Body1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgba(221, 221, 221, 0);
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .User-Card-Body2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgba(221, 221, 221, 0);
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .flip-card {
    background-color: transparent;
    margin-left: 75px;
    /* padding-left: 20px; */
    width: 300px;
    height: 200px;
    /* border: 1px solid #000000; */
    border-radius: 30px;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 30px;

  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 8px 10px 0 #732002, 0 10px 30px 0 #732002;
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #323E40;
    color: #323E40;
    border-radius: 30px;
  }
  .flip-card-front img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  

  .flip-card-back {
    background-color: #323E40;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    border-radius: 30px;

  }

  .flip-card-back h1{
    padding-top: 50px;
    color: #F2A922;
    padding-left: 10%;
    /* padding-left: 40px; */
  }

  .flip-card-back p{
    color: #D98014;
    padding-top: 100px;
  }


  .ContactInfo {
    background-color: #000000;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;

  }

  .fPersonal {
    border-radius: 10px;
    border-color: #D98014;
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
  }

  .fPersonal h3{
    color: #D98014;
    margin-bottom: 10px;
  }
  .fPersonal p{
    color: #ffffff;
  }
  .fPersonal hr{
    color: #D98014;
  }
  .Whatsapp{
    display: flex;
    flex-direction: row;
  }
  .Whatsapp p{
    margin: 0px;
    margin-left: 10px;
    color: #D98014;
  }
  .Whatsapp b{
    color: #ffffff;
  }
  .Whatsapp img{
    height: 20px;
    width: 20px;
  }

  .Email{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .Email p{
    margin: 0px;
    margin-left: 10px;
    color: #D98014;
  }
  .Email b{
    color: #ffffff;
  }
  .Email img{
    height: 20px;
    width: 20px;
  }


  .finfo {
    border-radius: 10px;
    border-color: #D98014;
    width: 30%;
    margin-top: 30px;
    margin-left: 70px;
    align-items: center;
  }

  .finfo h3{
    color: #D98014;
    margin-bottom: 10px;
  }
  .finfo ul{
    color: #ffffff;
  }


  .fFounder {
    border-radius: 10px;
    border-color: #D98014;
    width: 27%;
    margin-top: 30px;
    margin-left: 30px;
  }

  .fFounder h3{
    color: #D98014;
    margin-bottom: 10px;
  }
  .fFounder p{
    color: #ffffff;
  }
  /* .uMainCardBody {
    /* background-color: #cacaca; */
    /* width: 100%;
    display: flex;
    flex-direction: row; */
    /* margin-top: 10px; */
  /* }

  .uMainCard { */
    /* Add shadows to create the "card" effect */
    /* padding-top: 30px;
    padding-left: 40px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  } */
  
  /* On mouse-over, add a deeper shadow */
  /* .uMainCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* Add some padding inside the card container */
  /* .uMainCardinfo {
    background-color: #ffffff;
    width: fit-content;
    padding: 2px 16px;
  } */
  /* .userMainAboutContent {
    position: absolute;
    left: 300px;
    top: 110px;
    z-index: 2;
    width: 50%;
    height: 500px;
    background-color: rgba(255, 123, 0, 0.404);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
} */

/* .webContacts{
    padding-left: 10px;
    margin-top: 70%;
} */

