.App {
    margin: 0px;
}

.vregisterForm {
    margin: 0px;
    /* background-color: black; */
    background-image: url(./Pics/burger-g298fcb83a_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(8px); */
    height: 100vh;
    justify-content: center;
    align-items: baseline;
}

.vsignlogo {
    display: grid;
    width: 100%;
    justify-content: center;
    padding-top: 27%;
    padding-bottom: 1%;
}

img {
    height: 150px;
    width: 150px;
}

/* #hiu {
    padding-left: 43%;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #ff9800;
} */

.vregisterTitle {
    padding-top: 1%;
    margin-left: 25%;
    font-size: 33px;
    color: #fd0000;
    font-weight: bold;
}

.vregister {
    background-color: #ff9800;
    opacity: 85%;
    border-radius: 10px;
    justify-content: center;
    width: 30%;
    display: flex;
    position: absolute;
    z-index: 4;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    margin-left: 27%;
    filter: drop-shadow(16px 16px 10px black);
}

.vslabel{
    padding: 5px;
}

.vrcol {
    display: flex;
    flex-direction: row;
}

.vcol1 {
    /* display: flex;
    position: absolute;
    flex-direction: column; */
    padding-left: 50px;
    padding-right: 50px;

}

.vcol2 {
    /* display: flex;
    position: absolute;
    flex-direction: column; */
    padding-left: 50px;
    padding-right: 50px;

}

.vslabel {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vs-inp {
    border-radius: 10px;
    border: 2px red;
    padding: 6px;
    opacity: 50%;
    margin-top: 7px;
    margin-bottom: 15px;
}

.vs-inp:invalid{
    animation: shake .3s;
}

@keyframes shake {
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}


.btn_vregister {
    /* margin-left: 15%; */
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    border: 0px;
    border-radius: 12px;
    background-color: #ff0000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    transition-duration: 0.4s;
}

.btn_vregister:hover {
    box-shadow: 0 12px 16px 0 #ff00008a, 0 17px 50px 0 #ff00008a;
    background-color: white;
    /* Green */
    color: #ff0000;
    border-color: #ff0000;
    border: 6px;
}

.btn_vsignup {
    /* margin-left: 15%; */
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    border: 0px;
    border-radius: 12px;
    background-color: #ff0000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
    transition-duration: 0.4s;
}

.btn_vsignup:hover {
    box-shadow: 0 12px 16px 0 #ff00008a, 0 17px 50px 0 #ff00008a;
    background-color: white;
    /* Green */
    color: #ff0000;
    border-color: #ff0000;
    border: 6px;
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
}

